# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.settings/
/boot.iml
/.project
/boot-api/.settings/
/boot-api/boot-api.iml
/boot-api/.project
/boot-api/boot-api-system/target/
/boot-api/boot-api-system/.project
/boot-api/boot-api-system/boot-api-system.iml
/boot-api/boot-api-system/.settings/
/boot-api/boot-api-system/.classpath
/boot-base/.settings/
/boot-base/boot-base.iml
/boot-base/.project
/boot-base/boot-commons/.project
/boot-base/boot-commons/.classpath
/boot-base/boot-commons/.settings/
/boot-base/boot-commons/boot-commons.iml
/boot-base/boot-commons/target/
/boot-base/boot-config/.project
/boot-base/boot-config/target/
/boot-base/boot-config/boot-config.iml
/boot-base/boot-config/.settings/
/boot-base/boot-config/.classpath
/boot-mock/.settings/
/boot-mock/boot-mock.iml
/boot-mock/.project
/boot-service/boot-service.iml
/boot-service/boot-service-bpm/.project
/boot-service/boot-service-api/.settings/
/boot-service/boot-service-bpm/boot-service-bpm.iml
/boot-service/.project
/boot-service/boot-service-bpm/boot-service-bpm-activiti/boot-service-bpm-activiti.iml
/boot-service/boot-service-bpm/boot-service-bpm-activiti/target/
/boot-service/boot-service-api/boot-service-api.iml
/boot-service/boot-service-api/target/
/boot-service/boot-service-api/.project
/boot-service/boot-service-bpm/.settings/
/boot-service/boot-service-bpm/boot-service-bpm-activiti/.settings/
/boot-service/.settings/
/boot-service/boot-service-bpm/boot-service-bpm-activiti/.classpath
/boot-service/boot-service-api/.classpath
/boot-service/boot-service-bpm/boot-service-bpm-activiti/.project
/boot-service/boot-service-email/boot-service-email.iml
/boot-service/boot-service-email/target/
/boot-service/boot-service-email/.classpath
/boot-service/boot-service-email/.settings/
/boot-service/boot-service-email/.project
/boot-service/boot-service-impl/.project
/boot-service/boot-service-impl/boot-service-impl-ssj/target/
/boot-service/boot-service-impl/boot-service-impl-ssm/target/
/boot-service/boot-service-impl/boot-service-impl.iml
/boot-service/boot-service-impl/boot-service-impl-ssm/.settings/
/boot-service/boot-service-impl/.settings/
/boot-service/boot-service-impl/boot-service-impl-ssj/boot-service-impl-ssj.iml
/boot-service/boot-service-impl/boot-service-impl-ssj/.classpath
/boot-service/boot-service-impl/boot-service-impl-ssm/boot-service-impl-ssm.iml
/boot-service/boot-service-impl/boot-service-impl-ssm/.classpath
/boot-service/boot-service-impl/boot-service-impl-ssj/.project
/boot-service/boot-service-impl/boot-service-impl-ssm/.project
/boot-service/boot-service-impl/boot-service-impl-ssj/.settings/
/boot-service/boot-service-mq/.project
/boot-service/boot-service-mq/boot-service-mq.iml
/boot-service/boot-service-mq/.settings/
/boot-service/boot-service-rule/.project
/boot-service/boot-service-rule/.settings/
/boot-service/boot-service-rule/boot-service-rule.iml
/boot-service/boot-service-task/.settings/
/boot-service/boot-service-task/.project
/boot-service/boot-service-task/boot-service-task.iml
/boot-view/.settings/
/boot-view/boot-view.iml
/boot-view/.project
/boot-web/.settings/
/boot-web/.project
/boot-web/boot-web.iml
/boot-web/boot-web-gateway/.project
/boot-web/boot-web-gateway/target/
/boot-web/boot-web-gateway/boot-web-gateway.iml
/boot-web/boot-web-gateway/.classpath
/boot-web/boot-web-gateway/.settings/
/boot-web/boot-web-microservice/target/
/boot-web/boot-web-microservice/.classpath
/boot-web/boot-web-microservice/.project
/boot-web/boot-web-microservice/boot-web-microservice.iml
/boot-web/boot-web-microservice/.settings/
/boot-web/boot-web-monolith/.classpath
/boot-web/boot-web-monolith/.settings/
/boot-web/boot-web-monolith/.project
/boot-web/boot-web-monolith/boot-web-monolith.iml
/boot-web/boot-web-monolith/target/
